<html>
    <head>
        <title>Vanda's blog</title>
    </head>
    <body>
	<div>
	    <h1><a href="">Vanda's Blog</a></h1>
	</div>

	<div>
    	    <p>published 14.06.2015, 19:35</p>
    	    <h2><a href="">My first post</a></h2>
	    <p>Arma virumque cano. Troiae qui primus ab orbis Italiam. Fato profugus. Laviniaque venit litora.</p>
	</div>

	<div>
	    <p>published: 15.06.2015, 19:39</p>
	    <h2><a href="">My second post</a></h2>
	    <p>How then am I so different from the first men through this way?
Like them, I left a settled life, I threw it all away.
To seek a Northwest Passage at the call of many men
To find there but the road back home again.</p>
	</div>
    </body>
</html>
